/* Both tablet and mobile */
@media only screen and (max-width: 63.9375em) {

    .content__header,
    .content__table {
        margin-left: 5%;
        margin-right: 5%;
    }

    /* header section */

    .header__sign-In {
        margin-right: 10px !important;
    }

    .header__search-bar {
        margin: 0 10px !important;
    }

    .header {
        height: auto !important;
    }

    .header__bottom-section {
        display: none !important;
    }

    .user-signed-In__writing-blog-wrapper button {
        margin-right: 10px !important;
    }

    .header__search-icon {
        margin-right: 0 !important;
    }
}

/* mobile */
@media only screen and (max-width: 46.1875em) {
    .content__table-item {
        flex-direction: column;
        align-items: center;
        margin: 16px 0 32px 0;
    }

    .table__content {
        margin-top: 16px;
        gap: 10px;
    }

    .table__img-link {
        width: 250px;
        height: 200px;
    }

    .goToHeader {
        right: 10px;
    }


}

/* tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {}