/* Ipad */
@media only screen and (max-width: 63.9375em) and (min-width: 46.25em) {
    .modal__edit {
        min-width: 500px;
    }

    .table__title a {
        line-height: 2rem;
    }
}

/* mobile */
@media only screen and (max-width: 46.1875em) {
    .modal__edit {
        min-width: 350px;
    }

    .content__table-item {
        flex-direction: column;
        align-items: center;
        margin: 16px 0 32px 0;
    }

    .table__content {
        margin-top: 16px;
        gap: 10px;
        text-align: center;
    }

    .table_icon.on-MB {
        display: block;
    }

    .table_icon.on-PC {
        display: none;
    }

    .item__head {
        justify-content: center;
    }

    .table__title a {
        line-height: 2.1rem;
    }

    .table__time {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
    }

    .table__img-link {
        width: 250px;
        height: 200px;
    }
}

/* Ipad and mobile */
@media only screen and (max-width: 63.9375em) {
    .container {
        flex-direction: column;
    }

    .container__user.shadow__personal-page-25 {
        position: relative;
    }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 999;
        align-items: center;
        justify-content: center;        
    }

    .avt.modal__avt {
        display: none;
    }

    .modal__edit {
        transform: translateY(-30px);
        border-radius: 5px;
        background-color: #fff;
        animation: dropDown 0.3s linear;
    }

}