:root {
    --primary-color: #afd5de;
    --primary-color-lighter: #8bb1bc;
    --text-color: #333;
    --white-color: #fff;
    --black-color: #000;
    --header-height: 135px;
    --border-color: #dbdbdb;
    --header-wrap-height: 80px;
    --blue-500: 47, 181, 250;
    --login-color: #04c35c;
    --login-color-lighter: #2bbd6f;
    --max-width-grid: 1200px;
    --confirm-color: #187ff5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

li {
    list-style: none;
}

.text-strong {
    font-weight: 700;
    text-transform: uppercase;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(placeholder);
}