/* ======= CSS ADMIN ======= */

/* SIDE BAR */
.main {
    display: flex;
    position: relative;
}

.sideBar {
    /* width: var(--width-sideBar); */
    max-width: 200px;
    height: auto;
    background-color: var(--primary-color);
    margin-bottom: 25px;
}

.sideBar__lists {
    font-size: 1.4rem;
}

.sideBar__item {
    padding: 14px 8px;
    color: var(--white-color);
}

.sideBar__item.active {
    background-color: var(--primary-color-lighter);
}

.sideBar__item:hover {
    background-color: var(--primary-color-lighter);
    cursor: pointer;
}

.sidebar__item.active-sideBar {
    background: #ccc;
}

.sideBar__item-icon {
    margin-right: 4px;
}

/* CONTAINER */
.container {
    box-shadow: 0 0 10px 0 #ccc;
    margin: 24px 16px;
    width: 100%;
}

.container__wrapper {
    padding: 20px 30px;
    display: none;
}

.container__wrapper.active {
    display: block;
}

.container__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.container__title {
    font-size: 2.2rem;
    color: var(--primary-color);
    line-height: 3rem;
    text-transform: uppercase;
    font-weight: 500;
}

.container__refresh-btn {
    font-size: 1.4rem;
    padding: 4px;
    border: 1px solid #ccc;
    color: #ccc;
}

.container__refresh-btn:hover {
    cursor: pointer;
}

.container__search {
    border: 2px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    will-change: border;
    transition: border linear 0.3s;
    margin-top: 10px;
}

.container__search:focus-within {
    border: 2px solid #000;
}

.container__input {
    width: 100%;
    padding: 10px 10px;
    font-size: 1.4rem;
    color: var(--text-color);
    outline: none;
    border: none;
}

.container__table-member {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* PAGINATION */
.container__pagination {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.4rem;
    margin-top: auto;
}

.container__pagination>button {
    color: #000;
}

.container__pagination-lists {
    list-style: none;
    display: flex;
}

.container__pagination-icon {
    padding: 0 5px;
}

.container__pagination-icon:hover {
    cursor: pointer;
}

.container__pagination-item {
    padding: 4px 10px;
    margin: 10px;
}

.container__pagination-item:hover {
    cursor: pointer;
}

.container__pagination-end {
    border: 1px solid var(--border-color);
    padding: 8px 10px;
    border-radius: 3px;
}

.container__pagination-end:hover {
    cursor: pointer;
}

.container__pagination-item.active {
    background-color: var(--primary-color);
    border-radius: 50%;
    color: #fff;
}

/* MODAL */
.modal__wrap {
    background-color: var(--white-color);
    border-radius: 5px;
    position: relative;
}