/* ======= CSS ADMIN ======= */

/* SIDE BAR */

.main {
    display: flex;
    position: relative;
    height: 100%;
}

.sideBar {
    /* width: var(--width-sideBar); */
    max-width: 200px;
    height: auto;
    background-color: var(--primary-color);
    margin-bottom: 25px;
}

.sideBar__lists {
    font-size: 1.4rem;
}

.sideBar__item {
    padding: 14px 8px;
    color: var(--white-color);
}

.sideBar__item.active {
    background-color: var(--primary-color-lighter);
}

.sideBar__item:hover {
    background-color: var(--primary-color-lighter);
    cursor: pointer;
}

.sidebar__item.active-sideBar {
    background: #ccc;
}

.sideBar__item-icon {
    margin-right: 4px;
}

/* CONTAINER */
.container {
    box-shadow: 0 0 10px 0 #ccc;
    margin: 24px 16px;
    width: 100%;
    min-height: calc(100vh - 48px);
}

.container__wrapper {
    padding: 20px 30px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.container__title {
    font-size: 2.2rem;
    color: var(--primary-color);
    line-height: 3rem;
    text-transform: uppercase;
    font-weight: 500;
}

.container__refresh-btn {
    font-size: 1.4rem;
    padding: 4px;
    border: 1px solid #ccc;
    color: #ccc;
}

.container__refresh-btn:hover {
    cursor: pointer;
}

.container__search {
    border: 2px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    will-change: border;
    transition: border linear 0.3s;
    margin-top: 10px;
}

.container__search:focus-within {
    border: 2px solid #000;
}

.container__input {
    width: 100%;
    padding: 10px 10px;
    font-size: 1.4rem;
    color: var(--text-color);
    outline: none;
    border: none;
}

.container__table-member {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* PAGINATION */
.container__pagination {
    /* display: none; */
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.4rem;
    margin-top: auto;
}

.container__pagination>button {
    color: #000;
}

.container__pagination-lists {
    list-style: none;
    display: flex;
}

.container__pagination-icon {
    padding: 0 5px;
}

.container__pagination-icon:hover {
    cursor: pointer;
}

.container__pagination-item {
    padding: 4px 10px;
    margin: 10px;
}

.container__pagination-item:hover {
    cursor: pointer;
}

.container__pagination-end {
    border: 1px solid var(--border-color);
    padding: 8px 10px;
    border-radius: 3px;
}

.container__pagination-end:hover {
    cursor: pointer;
}

.container__pagination-item.active {
    background-color: var(--primary-color);
    border-radius: 50%;
    color: #fff;
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: dropDown linear 0.3s;
    animation: dropDown linear 0.3s;
    display: none;
}

.modal__wrap {
    background-color: var(--white-color);
    border-radius: 5px;
    position: relative;
}

/* Modal delete */
.modal__wrap--delete {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    display: none;
}

.modal__img {
    width: 70px;
    height: 70px;
}

.modal__title {
    font-size: 2rem;
    margin-top: 20px;
}

.modal__choose {
    margin-top: 20px;
}

.modal__choose--yes {
    background-color: #f44336;
    padding: 10px 30px;
    margin-right: 10px;
}

.modal__choose--no {
    background-color: #ccc;
    padding: 10px 30px;
}

/* Modal edit */
.modal__close {
    font-size: 1.6rem;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}

.modal__close:hover {
    cursor: pointer;
}

.modal__wrap--edit {
    padding: 20px 30px;
    display: none;
}

.modal__edit-inf {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.modal__edit-list {
    width: 600px;
}

.modal__edit-item {
    margin-bottom: 20px;
}

.modal__edit-text {
    font-size: 1.4rem;
    margin-bottom: 4px;
    font-weight: 500;
}

.modal__edit-input {
    font-size: 1.4rem;
    padding: 8px 4px;
    width: 100%;
    outline: none;
    border: 2px solid var(--border-color);
    transition: border linear 0.2s;
    border-radius: 5px;
}

.modal__edit-input:focus {
    border: 2px solid #000;
}

.modal__edit-item.manage__user {
    display: flex;
    align-items: center;
}

.modal__edit-item>div {
    margin-right: 16px;
}

.switch {
    position: relative;
    cursor: pointer;
    width: 4.8rem;
    height: 2rem;
    display: block;
    overflow: hidden;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
    background: #000;
    border-radius: 100rem;
    transition: background-color 0.25s linear;
}

.switch:after {
    content: "";
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100rem;
    background-color: #fff;
    top: 2px;
    left: 2px;
    transition: background-color 0.25s linear, transform 0.25s linear;
}

.switch-input {
    display: none;
}

.switch-input:checked+.switch {
    background-color: #6a5af9;
}

.switch-input:checked+.switch:after {
    transform: translateX(2.75rem);
    background-color: white;
}

.modal__edit-icon {
    font-size: 1.2rem;
    color: red;
}

.modal__choose-radio {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-top: 16px;
}

.modal__edit-radio {
    margin-right: 4px;
}

.modal__edit-label {
    margin-right: 50px;
}

.modal__edit-role {
    margin-top: 20px;
}

.modal__role-container {
    border: 2px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
}

.modal__role-list {
    height: 100px;
    overflow-y: scroll;

}

.modal__role-list::-webkit-scrollbar {
    width: 10px;
}

.modal__role-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;
}

.modal__role-item {
    margin-bottom: 12px;
}

.modal__role-label {
    font-weight: 500;
}

.modal__role-input {
    float: right;
    margin-right: 16px;
}

.modal__edit-footer {
    position: relative;
    float: right;
    margin-top: 10px;
}

.modal__edit-cancel {
    color: #000;
    border: 1px solid #000;
}

.modal__edit-confirm {
    background-color: var(--confirm-color);
    border: 1px solid var(--confirm-color);
    margin-left: 20px;
}

.modal__edit-cancel,
.modal__edit-confirm {
    padding: 8px 10px;
    min-width: 80px;
}

.container__table-icon {
    padding: 0 4px;
}

.fa-solid.fa-eye.container__table-icon {
    color: #800080;
}

.fa-solid.fa-pen.container__table-icon {
    color: #ffeb3b;
}

.fa-solid.fa-trash.container__table-icon {
    color: #f44336;
}