.main {
    display: flex;
    position: relative;
}

.sideBar {
    /* width: var(--width-sideBar); */
    max-width: 200px;
    height: auto;
    background-color: var(--primary-color);
    margin-bottom: 25px;
}

.sideBar__lists {
    font-size: 1.4rem;
    color: var(--white-color);
}

.sideBar__item {
    padding: 14px 8px;
}

.sideBar__item.active {
    background-color: var(--primary-color-lighter);
}

.sideBar__item:hover {
    background-color: var(--primary-color-lighter);
    cursor: pointer;
}

.sidebar__item.active-sideBar {
    background: #ccc;
}

.sideBar__item-icon {
    margin-right: 4px;
}

.container__wrapper {
    min-height: 768px;
    padding: 20px 30px;
    display: none;
}

.container__wrapper.active {
    display: flex;
    flex-direction: column;
}

.container__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.container__title {
    font-size: 2.2rem;
    color: var(--primary-color);
    line-height: 3rem;
    text-transform: uppercase;
    font-weight: 500;
}

.container__refresh-btn {
    font-size: 1.4rem;
    padding: 4px;
    border: 1px solid #ccc;
    color: #ccc;
}

.container__refresh-btn:hover {
    cursor: pointer;
}

.container__search {
    border: 2px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    will-change: border;
    transition: border linear 0.3s;
    margin-top: 10px;
}

.container__search:focus-within {
    border: 2px solid #000;
}

.container__input {
    width: 100%;
    padding: 10px 10px;
    font-size: 1.4rem;
    color: var(--text-color);
    outline: none;
    border: none;
}

.container__filter {
    margin-top: 12px;
}

.container__filter-lists {
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 1.4rem;
}

.container__filter-item {
    border: 2px solid var(--border-color);
    padding: 8px;
    border-radius: 5px;
    min-width: 150px;
    font-weight: 500;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container__selection-list {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background-color: var(--white-color);
    width: 230px;
    box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.container__selection-item {
    padding: 10px 8px;
}

.container__selection-item:hover {
    background-color: #ccc;
}

.container__filter-item i {
    margin-left: 4px;
    float: right;
}

.container__filter-item:hover {
    cursor: pointer;
}

.container__filter-item:last-child {
    background-color: #129af6;
    border: none;
    color: #fff;
    min-width: 150px;
    text-align: center;
}

.container__table-member {
    display: flex;
    flex-direction: column;
    flex: 1;
}


.container__table {
    width: 100%;
    text-align: left;
    font-size: 1.4rem;
    color: var(--text-color);
    border-spacing: 12px 30px;
}

.container__table-row th {
    font-size: 1.6rem;
    padding-bottom: 4px;
}

.container__table-row th:last-child {
    border: 2px solid var(--primary-color);
    padding: 10px;
    color: var(--primary-color);
    text-align: center;
}

.container__table-row th:last-child:hover {
    cursor: pointer;
}

.container__table-row td {
    word-wrap: break-word;
}

.container__table-row td:last-child {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.container__table-row td:last-child i:hover {
    cursor: pointer;
}

.container__table-icon {
    padding: 0 4px;
}

.container__table-icon:first-child {
    color: #800080;
}

.container__table-icon:nth-child(2) {
    color: #ffeb3b;
}

.container__table-icon:last-child {
    color: #f44336;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: dropDown linear 0.3s;
    animation: dropDown linear 0.3s;
    display: none;
}

.modal__close {
    font-size: 1.6rem;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}

.modal__close:hover {
    cursor: pointer;
}

/* Modal delete */
.modal__wrap--delete {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    display: none;
}

.modal__img {
    width: 70px;
    height: 70px;
}

.modal__title {
    font-size: 2rem;
    margin-top: 20px;
}

.modal__choose {
    margin-top: 20px;
}

.modal__choose--yes {
    background-color: #f44336;
    padding: 10px 30px;
    margin-right: 10px;
}

.modal__choose--no {
    background-color: #ccc;
    padding: 10px 30px;
}

/* Modal edit */
.modal__wrap--edit {
    padding: 20px 30px;
    display: none;
}

.modal__edit-inf {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.modal__edit-list {
    width: 600px;
}

.modal__edit-item {
    margin-bottom: 20px;
}

.modal__edit-text {
    font-size: 1.4rem;
    margin-bottom: 4px;
    font-weight: 500;
}

.modal__edit-input {
    font-size: 1.4rem;
    padding: 8px 4px;
    width: 100%;
    outline: none;
    border: 2px solid var(--border-color);
    transition: border linear 0.2s;
    border-radius: 5px;
}

.modal__edit-input:focus {
    border: 2px solid #000;
}

.modal__edit-icon {
    font-size: 1.2rem;
    color: red;
}

.modal__choose-radio {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-top: 16px;
}

.modal__edit-radio {
    margin-right: 4px;
}

.modal__edit-label {
    margin-right: 50px;
}

.modal__edit-role {
    margin-top: 20px;
}

.modal__edit-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal__edit-table {
    border: 2px solid var(--border-color);
    background-color: #f5fdff;
    font-size: 1.4rem;
    width: 400px;
    border-radius: 10px;
}

.modal__table-wrap {
    padding: 16px 16px;
}

.modal__table-title {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 500;
}

.modal__table-search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border linear 0.2s;
    background-color: var(--white-color);
    padding: 8px;
    margin-top: 12px;
}

.modal__table-search:focus-within {
    border: 1px solid #000;
}

.modal__table-icon {
    color: #ccc;
}

.modal__table-icon:hover {
    cursor: pointer;
}

.modal__table-input {
    border: none;
    outline: none;
    font-size: 1.4rem;
    width: 100%;
    margin-left: 8px;
}

.modal__table-list {
    height: 150px;
    margin-top: 20px;
}

.modal__table-item {
    padding: 10px 0;
    font-weight: 500;
}

.modal__table-item:hover {
    cursor: pointer;
    background-color: #ccc;
}

.modal__edit-change {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal__edit-btn {
    outline: none;
    border: none;
    padding: 12px;
    font-size: 2rem;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 3px;
}

.modal__edit-btn:hover {
    -webkit-filter: brightness(103%);
    filter: brightness(103%);
    cursor: pointer;
}

.modal__edit-footer {
    position: relative;
    float: right;
    margin-top: 10px;
}

.modal__edit-cancel {
    color: #000;
    border: 1px solid #000;
}

.modal__edit-confirm {
    background-color: var(--confirm-color);
    border: 1px solid var(--confirm-color);
    margin-left: 20px;
}

.modal__edit-cancel,
.modal__edit-confirm {
    padding: 8px 10px;
    min-width: 80px;
}

/* Modal view */
.modal {
    display: flex
}

.modal__wrap--view {
    padding: 20px 40px;
    max-width: 1200px;
    width: 1000px;
}

.modal__view-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.modal__avt {
    width: 100px;
    height: 100px;
    border-radius: 100rem;
}

.modal__name {
    margin-top: 8px;
}

.modal__role {
    margin-top: 8px;
    text-transform: uppercase;
}

.modal__view-info {
    display: flex;
    justify-content: space-between;
}

.modal__info {
    width: 40%;
    font-size: 1.4rem;
}

.modal__info div {
    padding: 8px 10px;
    background-color: #E3F3F1;
    border-radius: 3px;
    margin-top: 4px;
    color: rgb(128, 128, 128);
}

.modal__change-pasw {
    display: block;
    margin: 0 auto;
    background-color: var(--primary-color);
    padding: 8px 10px;
    margin-top: 8px;
}

.modal__view-all {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin-top: 8px;
}

.modal__view-all header {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px;
    border-bottom: 1px solid var(--border-color);
}

.modal__container-list {
    padding: 10px 15px;
}

.modal__container-item {
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 100px;
}

.modal__container-info {
    font-size: 1.3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal__container-img {
    width: 100px;
}

.modal__container-title {
    font-size: 1.6rem;
    font-weight: 500;
}

