.main {
    display: flex;
    position: relative;
}

.sideBar {
    /* width: var(--width-sideBar); */
    max-width: 200px;
    height: auto;
    background-color: var(--primary-color);
    margin-bottom: 25px;
}

.sideBar__lists {
    font-size: 1.4rem;
    color: var(--white-color);
}

.sideBar__item {
    padding: 14px 8px;
}

.sideBar__item.active {
    background-color: var(--primary-color-lighter);
}

.sideBar__item:hover {
    background-color: var(--primary-color-lighter);
    cursor: pointer;
}

.sidebar__item.active-sideBar {
    background: #ccc;
}

.sideBar__item-icon {
    margin-right: 4px;
}

.container {
    box-shadow: 0 0 10px 0 #ccc;
    margin: 24px 16px;
    /* height: calc(100vh - 48px); */

}

.container__wrapper.active {
    display: flex;
    flex-direction: column;
}

.container__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__title {
    font-size: 2.2rem;
    color: var(--primary-color);
    line-height: 3rem;
    text-transform: uppercase;
    font-weight: 500;
}

.container__refresh-btn {
    font-size: 1.4rem;
    padding: 4px;
    border: 1px solid #ccc;
    color: #ccc;
}

.container__refresh-btn:hover {
    cursor: pointer;
}

.container__search {
    border: 2px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    will-change: border;
    transition: border linear 0.3s;
    margin-top: 10px;
}

.container__search:focus-within {
    border: 2px solid #000;
}

.container__input {
    width: 100%;
    padding: 10px 10px;
    font-size: 1.4rem;
    color: var(--text-color);
    outline: none;
    border: none;
}

.container__filter {
    margin-top: 12px;
}

.container__filter-lists {
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 1.4rem;
}

.container__filter-item {
    border: 2px solid var(--border-color);
    padding: 8px;
    border-radius: 5px;
    min-width: 150px;
    font-weight: 500;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container__selection-list {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background-color: var(--white-color);
    width: 230px;
    box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.container__selection-item {
    padding: 10px 8px;
}

.container__selection-item:hover {
    background-color: #ccc;
}

.container__filter-item i {
    margin-left: 4px;
    float: right;
}

.container__filter-item:hover {
    cursor: pointer;
}

.container__filter-item:last-child {
    background-color: #129af6;
    border: none;
    color: #fff;
    min-width: 150px;
    text-align: center;
}

.container__table {
    width: 100%;
    text-align: left;
    font-size: 1.4rem;
    color: var(--text-color);
    border-spacing: 12px 30px;
}

.role_select {
    padding: 2px;
    min-width: 70%;
}

.role_select:hover {
    cursor: pointer;
}

.container__table-row th {
    font-size: 1.6rem;
    padding-bottom: 4px;
}

.container__table-row th:last-child {
    border: 2px solid var(--primary-color);
    padding: 10px;
}

.container__table-row th:last-child .addmore-content {
    color: var(--primary-color);
    text-align: center;
}



.container__table-row th:last-child:hover {
    cursor: pointer;
}

.container__table-row td {
    word-wrap: break-word;
}

.container__table-row td:last-child {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.container__table-row td:last-child i:hover {
    cursor: pointer;
}

/* Modal view */
.modal__wrap--view {
    padding: 20px 40px;
    max-width: 1200px;
    width: 1000px;
    display: none;
}

.modal__view-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.modal__avt {
    width: 100px;
    height: 100px;
    border-radius: 100rem;
}

.modal__name {
    margin-top: 8px;
}

.modal__role {
    margin-top: 8px;
    text-transform: uppercase;
}

.modal__view-info {
    display: flex;
    justify-content: space-between;
}

.modal__info {
    width: 40%;
    font-size: 1.4rem;
}

.modal__info div {
    padding: 8px 10px;
    background-color: #E3F3F1;
    border-radius: 3px;
    margin-top: 4px;
    color: rgb(128, 128, 128);
}

.modal__change-pasw {
    display: block;
    margin: 0 auto;
    background-color: var(--primary-color);
    padding: 8px 10px;
    margin-top: 8px;
}

.modal__view-all {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin-top: 8px;
}

.modal__view-all header {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px;
    border-bottom: 1px solid var(--border-color);
}

.modal__container-list {
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 12px 8px;
}

.modal__item-link {
    padding: 12px 8px;
    display: block;
    border-radius: 5px;
}

.modal__item-link:hover {
    background-color: #e9e9e9;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 40%);
}

.modal__container-item {
    display: flex;
    align-items: center;
    height: 100px;
}

.modal__container-info {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 1;
}

.modal__container-img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 10px;
}

.modal__container-title {
    font-size: 1.6rem;
    font-weight: 500;
}